<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'menu:menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"><b> Menu</b></span></a>
        {% endif %}
        <h1><a href="/">Soda Fountain</a></h1>
        <h3><a href="{% url 'menu:menu_list' %}" class="top-menu"><span>Available Menus</span></a>
        <a href="{% url 'menu:item_list' %}" class="top-menu"><span>Available Items</span></a></h3>
    </div>
    {% block content %}{% endblock %}
</body>
</html>